<!-- Compras semanal -->
<div class='col-lg-12 fondo_black container_panel_view boxBounded boxShadow show table_venta' id='table_semanal'>
    <div class='container_panel_header'>

        <div class='header_container'>
            <div class='row header_title'>
                <div class='col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11'>
                    <h1 class='texto_black'>Compras semanal</h1>
                </div>
                <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1'>
                    <div class='row icon_import'>
                        <div class='col-12'>
                            <i class="fas fa-clipboard-list icon_report"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body -->

        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class="table-responsive" style='overflow:auto !important;'>
                <table border='1' class="table table-striped table-bordered second">
                    <thead align='center'>
                        <tr>
                            <th class='texto_black'>N#</th>
                            <th class='texto_black'>PRODUCTOS</th>
                            <th class='texto_black'>CANTIDAD</th>
                            <th class='texto_black'>TIPO DE PAGO</th>
                            <th class='texto_black'>TOTAL BS</th>
                            <th class='texto_black'>TOTAL USD</th>
                            <th class='texto_black'>FECHA DE COMPRA</th>
                        </tr>
                    </thead>
                    <tbody align='center' id='ventas_semana_body'>
                        <tr>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>17/04/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Compras mensual -->
<div class='col-lg-12 fondo_black container_panel_view boxBounded hide boxShadow table_venta' id='table_mensual'>
    <div class='container_panel_header'>

        <div class='header_container'>
            <div class='row header_title'>
                <div class='col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11'>
                    <h1 class='texto_black'>Compras mensual</h1>
                </div>
                <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1'>
                    <div class='row icon_import'>
                        <div class='col-12'>
                            <i class="fas fa-clipboard-list icon_report"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body -->

        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class="table-responsive" style='overflow:auto !important;'>
                <table border='1' class="table table-striped table-bordered second">
                    <thead align='center'>
                        <tr>
                            <th class='texto_black'>N#</th>
                            <th class='texto_black'>PRODUCTOS</th>
                            <th class='texto_black'>CANTIDAD</th>
                            <th class='texto_black'>TIPO DE PAGO</th>
                            <th class='texto_black'>TOTAL BS</th>
                            <th class='texto_black'>TOTAL USD</th>
                            <th class='texto_black'>FECHA DE COMPRA</th>
                        </tr>
                    </thead>
                    <tbody align='center' id='ventas_mensual_body'>
                        <tr>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>17/04/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Compras anual -->
<div class='col-lg-12 fondo_black container_panel_view boxBounded hide boxShadow table_venta' id='table_anual'>
    <div class='container_panel_header'>

        <div class='header_container'>
            <div class='row header_title'>
                <div class='col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11'>
                    <h1 class='texto_black'>Compras anual</h1>
                </div>
                <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1'>
                    <div class='row icon_import'>
                        <div class='col-12'>
                            <i class="fas fa-clipboard-list icon_report"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body -->

        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class="table-responsive" style='overflow:auto !important;'>
                <table border='1' class="table table-striped table-bordered second">
                    <thead align='center'>
                        <tr>
                            <th class='texto_black'>N#</th>
                            <th class='texto_black'>PRODUCTOS</th>
                            <th class='texto_black'>CANTIDAD</th>
                            <th class='texto_black'>TIPO DE PAGO</th>
                            <th class='texto_black'>TOTAL BS</th>
                            <th class='texto_black'>TOTAL USD</th>
                            <th class='texto_black'>FECHA DE COMPRA</th>
                        </tr>
                    </thead>
                    <tbody align='center' id='ventas_anual_body'>
                        <tr>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>Junex10</td>
                            <td class='texto_black'>17/04/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>