<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./template/head") %>
        <title>Principal motors CA | Modificar marca</title>
        <link rel='stylesheet' href='./../static/css/nueva_venta.css'>
        <script>
            window.jQuery = window.$ = require('jquery');
        </script>
</head>

<body>
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h1>Modificar marca</h1>
                    <br><br>
                </div>
                <form id="producto" enctype="multipart/form-data">

                    <div class="form-group">
                        <h2>Nombre de la marca</h2>
                    </div>

                    <div class="form-group">
                        <input type="text" name="marca" id="marca" class="form-control"
                            placeholder="Marca" required>
                    </div>

                    <div class="form-group">
                        <h2>Distribuidor</h2>
                    </div>
                    <div class="form-group">
                        <select name="distribuidor" id="distribuidor" class="form-control" required>
                            <option value="0">Seleccione el distribuidor</option>
                            <option value="-1">Crear distribuidor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h2>Estado</h2>
                    </div>
                    <div class="form-group">
                        <select name="estado" id="estado" class="form-control" required>
                            <option value="0">Seleccione el estado</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary" id="submit">Modificar marca</button>

                </form>
            </div>
        </div>
    </div>
    </div>

    <script type='text/javascript' src='./../static/lib/bootstrap/js/bootstrap.bundle.js'></script>
    <script type='text/javascript' src='./../static/js/configuracion/modificar/modificar_marca.js'></script>
</body>

</html>