<ul class="admin-menu">
    <li class="menu-heading">
        <h3>Tienda</h3>
    </li>
    <li>
        <a class='texto_white' href="./ventas.ejs">
            <i class="fas fa-shopping-basket icon_aside"></i>
            <span>Ventas</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./inventario.ejs">
            <i class="fas fa-box icon_aside"></i>
            <span>Inventario</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./compra.ejs">
            <i class="fas fa-shopping-bag icon_aside"></i>
            <span>Gastos</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./deudores.ejs">
            <i class="fas fa-wallet icon_aside"></i>
            <span>Deudores</span>
        </a>
    </li>
    <li class="menu-heading">
        <h3>Panel</h3>
    </li>
    <li>
        <a class='texto_white' href="./panel.ejs">
            <i class="fas fa-chart-area icon_aside"></i>
            <span>Reportes</span>
        </a>
    </li>
    <li class="menu-heading">
        <h3>Configuración</h3>
    </li>
    <li>
        <a class='texto_white' href="./empleados.ejs">
            <i class="fas fa-user-plus icon_aside"></i>
            <span>Empleados</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./cargos.ejs">
            <i class="fas fa-user-plus icon_aside"></i>
            <span>Cargos</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./marcas.ejs">
            <i class="fas fa-code-branch icon_aside"></i>
            <span>Marcas</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./tipo_productos.ejs">
            <i class="fas fa-tags icon_aside"></i>
            <span>Tipo de productos</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./distribuidores.ejs">
            <i class="fas fa-user-tie icon_aside"></i>
            <span>Distribuidores</span>
        </a>
    </li>
    <li>
        <a class='texto_white' href="./impuestos.ejs">
            <i class="fas fa-money-bill icon_aside"></i>
            <span>Impuestos</span>
        </a>
    </li>
    <li>
        <button class="collapse-btn" aria-expanded="true" aria-label="collapse menu">
            <i class="fas fa-arrow-right icon_aside"></i>
            <span>Menu</span>
        </button>
    </li>
</ul>