<header class="page-header">
    <nav>
        <div class="admin-profile" data-expanded='false'>
            <span class="greeting">Admin</span>
            <div class="notifications">
                <img class='avatar' src='./../static/icons/win/logo.png'>
            </div>
        </div>
        <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
            <i class="fas fa-arrow-down"></i>
        </button>

        <%- include("./aside") %>
    </nav>
</header>