<div class='row'>
    <div class='col-lg-12'>
        <button id='nuevo_item' role='button' class='btn btn-primary'><i class="fas fa-user-plus"></i> Nuevo
            Empleado</button>
    </div>

    
    <div class='col-lg-12 col-sm-12 col-md-12 col-12' style='position: relative;top:30px'>

        <div class='row'>
            <div class='col-lg-12' style='margin-top: 40px;'>
                <div class="btn-group btn-group-danger">
                    <button class="btn btn-primary" type="button">Filtros</button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button"></button>
                    <ul class="dropdown-menu" id="filtro_dropdown">
                        <li class="list_filtro active" onclick='changeTable(this)' id="item_disponible"><a href="#">Activos</a></li>
                        <li class="list_filtro" onclick='changeTable(this)' id="item_noDisponible"><a href="#">No activos</a></li>
                    </ul>
                </div>
            </div>
            <%- include("./tables") %>
        </div>
    </div>
</div>
<script type='text/javascript' src='./../static/js/configuracion/empleados.js'></script>