<!-- item disponibles -->
<div class='col-lg-12 fondo_black container_panel_view boxBounded boxShadow table_producto' id='table_disponible'>
    <div class='container_panel_header'>

        <div class='header_container'>
            <div class='row header_title'>
                <div class='col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11'>
                    <h1 class='texto_black'>Activos</h1>
                </div>
            </div>
        </div>

        <!-- Body -->

        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class="table-responsive" style='overflow:auto !important;'>
                <table border='1' class="table table-striped table-bordered second">
                    <thead align='center'>
                        <tr>
                            <th class='texto_black'>NOMBRE(s) Y APELLIDO(s)</th>
                            <th class='texto_black'>TIPO DE USUARIO</th>
                            <th class='texto_black'>IDENTIFICACION</th>
                            <th class='texto_black'>TIPO DE IDENTIFICACION</th>
                            <th class='texto_black'>SALARIO BS</th>
                            <th class='texto_black'>SALARIO USD</th>
                            <th class='texto_black'>REGISTRADO</th>
                            <th class='texto_black'>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody align='center' id='item_disponibles_body'>
                        <tr>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black modify'><i class='fas fa-edit'></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- item no disponibles -->
<div class='col-lg-12 fondo_black container_panel_view boxBounded boxShadow hide table_producto' id='table_noDisponible'>
    <div class='container_panel_header'>

        <div class='header_container'>
            <div class='row header_title'>
                <div class='col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11'>
                    <h1 class='texto_black'>No activos</h1>
                </div>
            </div>
        </div>
        <!-- Body -->

        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class="table-responsive" style='overflow:auto !important;'>
                <table border='1' class="table table-striped table-bordered second">
                    <thead align='center'>
                        <tr>
                            <th class='texto_black'>NOMBRE(s) Y APELLIDO(s)</th>
                            <th class='texto_black'>TIPO DE USUARIO</th>
                            <th class='texto_black'>IDENTIFICACION</th>
                            <th class='texto_black'>TIPO DE IDENTIFICACION</th>
                            <th class='texto_black'>SALARIO BS</th>
                            <th class='texto_black'>SALARIO USD</th>
                            <th class='texto_black'>REGISTRADO</th>
                            <th class='texto_black'>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody align='center' id='item_no_disponibles_body'>
                        <tr>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black'>Coca-cola</td>
                            <td class='texto_black modify'><i class='fas fa-edit'></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

