<div class='row'>
    <div class='col-lg-12'>
        <button id='range_date' role='button' class='btn btn-primary'><i class="far fa-clock"></i> Rango
            fechas</button>
    </div>
    <%- include("./ventas_graficas") %>
    <%- include("./inventario_graficas") %>
</div>