<div class='container_panel_view boxBounded boxShadow fondo_black col-lg-12 col-md-12 col-xl-12 col-sm-12 col-12'>
    <div class='container_panel_header'>

        <div class='header_container'>
            <div class='row header_title'>
                <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
                    <h1 class='texto_black'>Inventario</h1>
                </div>
            </div>
        </div>

    </div>

    <!-- Body -->

    <div class='row'>
        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div id='inventario_llenado' class='graphic'></div>
        </div>
    </div>
</div>