<!-- Diario -->
<div class='col-lg-2 col-sm-2 col-md-2 col-2 card_total'>
    <div class='row fondo_black boxBounded boxShadow'>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h2 class='texto_black titulo_card'>Diario</h2>
        </div>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h3 class='texto_black titulo_dolar' id='dolar_diario'>135 $</h3>
            <h4 class='texto_black titulo_bs' id='bs_diario'>1354 BS</h4>
        </div>
    </div>
</div>
<!-- Semanal -->
<div class='col-lg-2 col-sm-2 col-md-2 col-2 card_total'>
    <div class='row fondo_black boxBounded boxShadow'>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h2 class='texto_black titulo_card'>Semanal</h2>
        </div>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h3 class='texto_black titulo_dolar' id='dolar_semana'>135 $</h3>
            <h4 class='texto_black titulo_bs' id='bs_semana'>1354 BS</h4>
        </div>
    </div>
</div>
<!-- Mensual -->
<div class='col-lg-2 col-sm-2 col-md-2 col-2 card_total'>
    <div class='row fondo_black boxBounded boxShadow'>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h2 class='texto_black titulo_card'>Mensual</h2>
        </div>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h3 class='texto_black titulo_dolar' id='dolar_mes'>135 $</h3>
            <h4 class='texto_black titulo_bs' id='bs_mes'>1354 BS</h4>
        </div>
    </div>
</div>
<!-- Anual -->
<div class='col-lg-2 col-sm-2 col-md-2 col-2 card_total'>
    <div class='row fondo_black boxBounded boxShadow'>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h2 class='texto_black titulo_card'>Anual</h2>
        </div>
        <div class='col-lg-12 col-sm-12 col-12'>
            <h3 class='texto_black titulo_dolar' id='dolar_año'>135 $</h3>
            <h4 class='texto_black titulo_bs' id='bs_año'>1354 BS</h4>
        </div>
    </div>
</div>